services:
  server:
    build: ./server
    ports:
      - "8080:8080"
    volumes:
      - ./shared:/shared

  client1:
    build: ./client
    depends_on:
      - server
    volumes:
      - ./shared:/shared

  client2:
    build: ./client
    depends_on:
      - server
    volumes:
      - ./shared:/shared